{
    "env": {
        "browser": true,
        "es2021": true,
        "node": true
    },
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "prettier"
    ],
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": 12,
        "sourceType": "module"
    },
    "plugins": [
        "react",
        "prettier"
    ],
    "rules": {
        "prettier/prettier": [
			"warn",
			{
				"printWidth": 120,
                "tabWidth": 4,
				"semi": true,
				"singleQuote": true,
                "jsxSingleQuote": false,
                "jsxBrackets": true,
                "bracketSpacing": true,
				"trailingComma": "none",
				"arrowParens": "avoid",
                "endOfLine": "lf"
			}
		],
        "prefer-const": "warn",
        "no-multi-spaces": "error",
        "no-console": "warn",
        "react/display-name": "off",
        "react/prop-types": "off"
    }
}
