.bd-who-reacted-reactors {
    &:not(:empty) {
        margin-left: 6px;
    }

    .bd-who-reacted-more-reactors {
        background-color: var(--background-tertiary);
        color: var(--text-normal);
        font-weight: 500;
    }
}